@model Order
@{
    ViewData["Title"] = "Home Page";
}
@using (Html.BeginForm())
{
    @Html.DropDownListFor(m => m.UserId, ViewBag.Users as IEnumerable<SelectListItem>)
}

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
}

<div class="text-center">

    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
